.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  z-index: 1001;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.modalOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.btnClose {
  position: absolute;
  right: 10px;
  top: 10px;
}

.closeIcon {
  width: 20px;
  fill: var(--icon-color);
}
