.card {
  position: relative;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

.content {
  color: var(--text-color);
}

.title {
  font-size: 1.25rem;
  margin: 0 0 8px 0;
  color: var(--text-color);
}

.username {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 13px;
  color: var(--primary-color);
}
