.layout {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  padding: 0 4rem;
}

@media (max-width: 780px) {
  .layout {
    padding: 0 2rem;
  }
}

@media (max-width: 400px) {
  .layout {
    padding: 0 1rem;
  }
}
