.filterContainer {
  margin-bottom: 20px;
}

.filterFields {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.filterField {
  width: 100px;
  font-size: 16px;
  padding: 5px 10px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  color: var(--text-color);
}

.filterField:focus {
  border-color: var(--primary-color);
}
